@keyframes expandWidthOut {
	0% {
		width:0%;
	}
	100% {
		width:100%;
	}
}

@keyframes slideInFromRight {
	0% {
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
		visibility: visible;
	}
	50% {
		-webkit-transform: translateX(-1%);
		        transform: translateX(-1%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
		visibility: visible;
	}
}

.anim-invert:hover {
	transition: filter 2s; 
	filter: invert(0.9);
}

.anim-slideInFromRight {
	-webkit-animation: slideInFromRight 3s ease 0s 1 forwards;
	        animation: slideInFromRight 3s ease 0s 1 forwards;
}