/*
Palette
#fff white
#121619 raisin black
#6492A3 desaturated cyan
#98C1D9 pale cerulan
#6969B3 light purple (toolbox)
*/
.white {
	background-color: #fff;
	color: #121619;
}
.black {
	background-color: #121619;
	color: #fff;
}
.cyan {
	background-color: #6492A3;
	color: #fff;
}
.cerulan {
	background-color: #98C1D9;
	color :#121619;
}
.purple {
	background-color: #6969B3;
	color: #fff;
}

.menu-icon {
	display: inline-block;
	fill:#000;
	width: 1em;
	height: 1em;
}
html,body {
	width:100%;
	max-width:100%;
	overflow-x: hidden;
	height:100%;
	font-family: "HeroLight", sans-serif;
}

p {
	font-family: "Roboto",sans-serif;
	font-size: 20px;
	line-height: 200%
}

h1,h2,h3,h4,h5 {
	text-align: center;
}

section {
	padding-top: 5em;
	padding-bottom: 5em;
}

/*nav*/
nav.navbar {
	border-radius: 0;
	background-color: #6492a3;
	margin-bottom: 0;
	position:absolute;
	z-index: 1;
	visibility: hidden;
}

.navbar-brand {
	padding:0;
	-webkit-transition: -webkit-filter 1s;
	transition: -webkit-filter 1s;
	-o-transition: filter 1s;
	transition: filter 1s;
	transition: filter 1s, -webkit-filter 1s;
	-webkit-transition: filter 1s;
}
.navbar-brand:hover {
	-webkit-filter: invert(1);
	        filter: invert(1);
}

.nav-link {
	color: white;
	font-size:17px;
	-o-transition: color .7s, background-color .7s;
	transition: color .7s, background-color .7s;
	-webkit-transition: color .7s, background-color .7s;
}
.nav-link:hover {
	color: black;
	background-color: white;
}
.nav-item:first-child {
	margin-left: 5em;
}
.nav-item:not(:first-child) {
	border-left: 1px solid black;
}

/*Parallax*/
.parallax {
	position:relative;
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax.img1 {
	background-image: url('../img/clouds.png')
}

.caption {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000; 
}

.caption span {
	background-color: rgba(0,0,0,0.7);
	color:white;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
}

footer {
	background-color: #6492a3;
	padding: 10px;
	text-align: center;
	font-family: "Roboto",sans-serif;
}