* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body{
	width:100%;
	height:100%;
	overflow-x: hidden;

	font-family: "HeroRegular", sans-serif;
	background-color: #191919;
}

.banner {
    background: #cc0000;
    color: #ffffff;
    padding: 5px 0;
    text-align: center;
}

h1 {
	font-family: "HeroLight", sans-serif;
}
p {
	font-size: 20px;
}

section {
	padding: 80px 20% 80px 20%;
	background-color: #000;
	color:#fff;
}

section#about {
	background-color: #6B97A7;
	color:#fafafa;
}

section#contact {
	background-color:#fafafa;
	color:#000;
}

.row {
	display:flex;
}

.col2{
	flex: 50%;
}

/* nav */

nav {
	font-family: "HeroLight", sans-serif;
	position:absolute;
	padding-left: 50px;
	padding-top: 50px;

	z-index: 100;
}

.logo {
	width: 50px;
	height: auto;
	float: left;
}

ul {
	list-style-type: none;
}

nav ul {
	float: left;
    margin: 0;
    padding: 0;
    background-color: #6492a3;
	opacity: 0.85;
}

nav li{
	float: left;
	margin: 11px;
}

nav li:first-child {
	margin-left: 60px;
}

nav li a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 11px;
    opacity: 1;
}

/* header */
header div#background {
	position: relative;
    display:block;
    height: 40%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../imgs/clouds.png')
}

#caption {
	position: relative;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000; 
}

#caption span {
	font-family: "HeroLight", sans-serif;
	background-color: #6B97A7;
	color:white;
	/*opacity: 0.95;*/

	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
}

#me {
	float:right;
	height: 200px;
	width: auto;
	border-radius: 100%;
}

.contactlist {
	padding-top: 20px;
	font-size:20px;
	line-height: 200%;
}

.contactlist i {
	margin-right: 20px;
}

/*response*/

@media screen and (max-width: 500px) {
	nav {
		padding: 0 0 0 0;
	}
	nav li {
		margin: 0 0 0 0 !important;
		width:100%;
	}
	.row {
		display:block;
	}
	#me {
		float: none;
	}
}